h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h2,
p {
  margin: 0;
}

p {
  margin-bottom: 0.5625em;
}

a {
  color: #ff8000;
  font-weight: bold;
}

a:hover {
  color: pink;
}

.title {
  color: #2e7ad3;
  text-align: center;
  margin: 0.9375em 0;
}

.subtitle {
  color: #104c90;
}

.card {
  background-color: #f1f1f1;
  width: 28.125em;
  padding: 1.5625em;
  margin: 0 auto;
}

.blog-image {
  margin: 1.5625em 0;
}
